In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('./plans/train_set.csv')

In [3]:
a

      Unnamed: 0        date        sym      volume  volume_prev_5d_avg
0              0  2019-05-07  000001.SZ  26732606.0        7.269096e+07
1              1  2019-05-08  000001.SZ  32095151.0        4.971178e+07
2              2  2019-05-09  000001.SZ  29040734.0        4.383957e+07
3              3  2019-05-10  000001.SZ  33375719.0        4.013986e+07
4              4  2019-05-13  000001.SZ  21222149.0        3.878703e+07
...          ...         ...        ...         ...                 ...
1863        1863  2019-05-27  603019.SH   5025815.0        1.161657e+07
1864        1864  2019-05-28  603019.SH   8540541.0        9.563376e+06
1865        1865  2019-05-29  603019.SH   5770562.0        9.594306e+06
1866        1866  2019-05-30  603019.SH   5809780.0        8.336060e+06
1867        1867  2019-05-31  603019.SH   3694272.0        6.548808e+06

[1868 rows x 5 columns]

In [14]:
for row in a.iterrows():
    print(row, '\n')
    date = row[1]['date']
    sym = row[1]['sym']
    volume = row[1]['volume']
    print(type(date))
    print(type(sym))
    print(type(volume))
    break

(0, Unnamed: 0                     0
date                  2019-05-07
sym                    000001.SZ
volume                26732606.0
volume_prev_5d_avg    72690955.0
Name: 0, dtype: object)

<class 'str'>
<class 'str'>
<class 'float'>

In [16]:
print(date.replace('-', ''))

20190507