In [2]:
import aqdatac
aqdatac.login('huangchunyang', password='20020308hd')

In [3]:
aqdatac.current_session()

aqdatac: version 0.2.3
current user: huangchunyang
current session expires at: 2024-07-25 16:29:25

In [4]:
aqdatac.accessible_tables()

{'aindexcsi500weight': ['*'],
 'aindexhs300closeweight': ['*'],
 'aindexhs300freeweight': ['*'],
 'ashareeodprices': ['2009-01-01, 2019-12-31'],
 'cftick': ['2019-01-01,2019-07-01'],
 'cfuturescalendar': ['*'],
 'chinaetfpchredmlist': ['*'],
 'chinaetfpchredmmembers': ['*'],
 'csbar_1d': ['2009-01-01, 2019-12-31'],
 'csbar_30m': ['2015-01-01, 2019-12-31'],
 'csdate': ['*'],
 'csinfo': ['*'],
 'csord': ['2019-01-01,2019-07-01'],
 'cstick': ['2019-01-01,2019-07-01'],
 'cstra': ['2019-01-01,2019-07-01']}

In [5]:
df = aqdatac.get_data("csinfo",row_filter="producttype='a'")

In [13]:
df = df[df['status'] == 'active']

In [14]:
df

,sym,name,producttype,status,listeddate,delisteddate,issue_price
0,000001.SZ,平安银行,a,active,1991-04-03,<NA>,40.0
1,000002.SZ,万科A,a,active,1991-01-29,<NA>,1.0
3,000004.SZ,国华网安,a,active,1990-12-01,<NA>,1.0
4,000005.SZ,ST星源,a,active,1990-12-10,<NA>,10.0
5,000006.SZ,深振业A,a,active,1992-04-27,<NA>,10.0
...,...,...,...,...,...,...,...
5353,688799.SH,华纳药厂,a,active,2021-07-13,<NA>,30.82
5354,688800.SH,瑞可达,a,active,2021-07-22,<NA>,15.02
5355,688819.SH,天能股份,a,active,2021-01-18,<NA>,41.79
5356,688981.SH,中芯国际,a,active,2020-07-16,<NA>,27.46
5357,689009.SH,九号公司,a,active,2020-10-29,<NA>,18.94